<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="vload read-only phone audit" android:allowBackup="false" />
    <instrumentation android:name=".AuditRunner" android:targetPackage="app.vload.android" android:label="vload read-only audit" />
</manifest>
